* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  height: 100vh;
  /* background: wheat; */

  /* FLEX */
  /* Parent-A */
  display: flex; // row,nowrap,justify-start,align-stretch
}

.left {
  /* background: green; */
  /* Child-A */
  flex: 1;
}

.right {
  /* background: orangered; */
  /* Child-A */
  flex: 1;
  padding: 40px;

  /* Parent-B */
  display: flex;
  /* flex-direction: column; */
  /* row,justify-start */
  align-items: center;
}

.login-form {
  /* Children-B */
  flex-grow: 1;

  height: 50vh;
  /* background: grey; */

  /* Parent-C */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

/* Children-C */
input {
  padding: 10px;
}

button {
  padding: 10px;
  /* Children-C */
  align-self: flex-start;
  min-width: 200px;
}

img {
  height: 100vh;
  object-fit: cover;
}

@media (max-width: 768px) {
  .left {
    display: none;
  }
}
